body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 20px; /* Gap between grid items */
  padding: 20px;
}
 /* Responsive layout for smaller screens */
 @media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr; /* Single column layout for smaller screens */
  }
}

.card-item {
  background-color: #fff;
  color: #fff;
  padding: 0px;
  border-radius: 8px;
  text-align: center;
}

.card-item {
  /* background-color: #fff;
  color: #fff; */
  padding: 0px;
  text-align: left;
}

.star {
  font-size: 39px; /* Adjust the size of the stars */
  color: #ccc; /* Default color of empty stars */
  cursor: pointer;
}

.star-filled {
  font-size: 39px;
  cursor: pointer;
  color: #f8d204; /* Color of filled stars */
}

.form-control  {
  width: 380px/* Color of filled stars */
}